@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap');

body {
    background-color: #3ab2cd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Corben', cursive;
}

h1 {
    font-size: 5em;
    margin-top: 25vh;
    text-shadow: -2px -2px 0 #04528a, 2px -2px 0 #04528a, -2px 2px 0 #04528a,
        2px 2px 0 #04528a;
}

input {
    font-family: 'Corben', cursive;
    color: #04528a;
    background-color: white;
    padding: 0.5%;
}

input[type='submit']:hover {
    background-color: #c4c4c4;
}
.container {
    width: 100%;
    text-align: center;
}

input {
    border: none;
}
