h1 {
    margin-top: 10vh;
    margin-bottom: 2vh;
    text-shadow: -1px -1px 0 #04528a, 1px -1px 0 #04528a, -1px 1px 0 #04528a,
        1px 1px 0 #04528a;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.options button {
    display: block;
    min-width: 50%;
    padding: 0.5%;
    border-color: #04528a;
    background-color: #2b96cf;
    border-style: solid;
    font-family: 'Corben', cursive;
    margin: 1%;
    color: white;
    font-size: 2em;
}

.options button:hover {
    background-color: #04528a;
}

.changeName {
    font-family: 'Corben', cursive;
    color: white;
    background: none;
    font-size: 1em;
    border: none;
    margin-bottom: 7vh;
    text-shadow: -1px -1px 0 #04528a, 1px -1px 0 #04528a, -1px 1px 0 #04528a,
        1px 1px 0 #04528a;
}

.changeName:hover {
    color: #024371;
    text-shadow: none;
}
